body{
  font-family: Arial,Helvetica,sans-serif;
  background-color:rgba(255, 230, 180, 0.5);
  background-color: #ffffff;
  color:#019904;
  padding: 0;
  margin: 0;
}

/*global designs*/
.container{
  width: 80%;
  margin:auto;
  overflow: hidden;
}
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
button:hover {
  opacity: 0.8;
}
/*Header*/
header{
  width: 100%;
  background: #50af00;
  color: #ffffff;
  padding-top: 20px;
  min-height: 120px;
}
.logo{
    float: left;
    cursor: pointer;
    margin-left: 80px;
    max-width: 11%;
}
.mobie_heading , .icon{
  display: none;
}
/*Login page css starts from here*/
input[type=text], input[type=password], input[type=email]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #000000;
  box-sizing: border-box;
}
.login2signup{
  margin-left: 5px;
  cursor: pointer;
  text-decoration: underline;
}
.cancelbtn_1{
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}
.cancelbtn_2{
  background-color: #f44336;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
.imgcontainer{
  text-align: center;
  margin: 24px 0 0px 0;
  position: relative;
}
img.avatar{
  width: 20%;
  border-radius: 50%;
}
.form_container{
  color: #000000;
  font-weight: bold;
  padding: 16px;
  height: 10%;
}
span.psw{
  float: right;
  padding-top: 16px;
}
.login_signup_form{
  display: none; /*Hidden by default*/
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.login_signup_form a{
  text-decoration: underline;
  color: #000000;
}
.login_modal{
  background-color: #fefefe;
  margin: 1% auto 15% auto;
  border: 1px solid #888;
  width: 40%;
}
.close{
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}
.close:hover, .close:focus{
  color: red;
  cursor:pointer;
}
.animate{
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}
@-webkit-keyframes animatezoom{
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}
@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}
/*@media screen and (max-width: 300px) {
  span.psw{
    display: block;
    float: none;
  }
  .cancelbtn{
    width: 100%;
  }
}*/
.button_1{
  background-color: #ffffff;
  color: #019904;
  font-weight: bold;
  padding: 14px 20px;
  margin:-5px 0;
  border:0;
  border-radius:15%;
  cursor: pointer;
  width: 100%;
}
.button_1:hover{
  opacity: 0.8;
}
/*sign up css starts*/
/*.signup_form{
  display: none; /*Hidden by default*/
  /*position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 20px;
}*/
/*sign up css ends*/
header a{
  color: #ffffff;
  text-decoration: none;
  font-size: 17px;
}

header a:hover{
  color: #000000;
  font-weight: bold;
}
.login{
  margin-top: 3.5%;
  position: relative;
  margin-left: 60px;
  float: right;
}
.cart img{
  margin-top: 3.5%;
  position: relative;
  margin-left: 10px;
  float: right;
  cursor: pointer;
  max-width: 55px;
  max-height: 42px;
}
/*.dropdown{
  float: left;
  overflow: hidden;
}
.dropdown{
  margin: 0;
  padding: 0;
  font-size: 16px;
  border: none;
  outline: 0;
  color: #ffffff;
  background-color: inherit;
  font-family: inherit;
}
.dropdown:hover{
  color: #000000;
  font-weight: bold;
}*/

.dropdown_content a{
  float: none;
  padding: 12px 16px;
  display: block;
  text-align: left;
}
.nav-item:hover .dropdown_content{
  display: block;
}
/*header ul{
  margin: 0;
  padding: 0;
}
header li{
  float: left;
  display: inline;
  padding: 0 10px 0 10px;
}
header nav{
  float: right;
  margin-top: 50px;
}*/

/*new navbar css code*/
 body.offcanvas-active{
   overflow: hidden;
 }
 .offcanvas-header{
   display: none;
 }
/*navbar code ends*/
/*navbar css in design css*/
.bg-primary{
  margin-top: 3%;
  padding-left: 5%;
  border: 2px solid #ffffff;
  background-color: #50af00 !important;
}
.navbar-nav a{
  color: #ffffff !important;
}
.navbar-nav a:hover{
  color: #000000 !important;
}
.dropdown_content{
  display: none;
  position: fixed;
  background-color: #ffffff;
  border-radius: 15%;
  min-width: 5%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1 !important;
}
.dropdown_content a{
  color: #019f49 !important;
  font-weight: bold;
}
.active{
  /*for hightlight of navbar element*/
  background-color: #c00;
  color: #0f0;
}
/*navbar css in desidn css ends here*/

/*section*/
.areca_show{
  display: flex;
}
.areca_img_show{
  flex: 35%;
  margin-top: 10px;
}
.areca_img_show img{
  width: 100%;
}
.areca_matter_show{
  flex: 55%;
  margin-left: 50px;
  font-family: Arial sans-serif serif;
  font-size: 20px;
  color: #000000;
}
.areca_types{
  text-align: center;
}
.areca_type_row{
  display: flex;
}
.areca_type_box{
  text-align: center;
  margin: 10px 10px 0 10px;
  overflow: hidden;
}
.img_zoom_container{
  overflow: hidden;
}
.img_zoom_container img{
  width: 100%;
  transition: transform .5s ease-in-out;
}

.img_zoom_container:hover img{
  transform: scale(1.5) rotate(25deg);
}
/*section*/
/*footer*/
footer#main{
  background-color: #004d02;
  color: #ffffff;
}
footer a{
  color: #ffffff;
}
footer ul{
  display: inline;
  margin: 0;
  padding: 0;
}
.edge_hb{
  display: inline;
  float: left;
  width: 30%;
}
footer a{
  text-decoration: none;
}
footer a:hover{
  color: rgba(255,255,0, 1);
  font-weight: bold;
}
address{
  font-size: 16px;
  float: right;
  width: 60%;
}
.copyrights{
  font-size: 16px;
  float: right;
  width:60%;
}
.fix_me img{
  position: fixed;
  top: 85%;
  left: 90%;
  width: 5%;
  height: 10%;
}
